body {
  overflow: hidden;
}

img {
  width: 50%;
  object-fit: contain;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

#textInput {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
